<div <%= 'id=current_item' if line_item == @current_item %> class="row">
  <span class="cell">
    <%= button_to "\u25B3", line_items_change_path(line_item), method: :patch, params: { type: :inc }, remote: true %>
    <%= button_to "\u25BD", line_items_change_path(line_item), method: :patch, params: { type: :dec }, remote: true %>
    <%= line_item.quantity %>&times;
  </span>
  <span class="cell"><%= line_item.product.title %></span>
  <span class="cell item_price"><%= number_to_currency(line_item.total_price) %></span>
  <span class="cell">
    <%= button_to 'X', line_item, method: :delete, data: { confirm: "Are you sure you want to remove '#{line_item.product.title}'?" } %>
  </span>
</div>
