<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'logo.svg', alt: 'The pragmatic Bookshelf' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <% if @cart %>
          <%= hidden_dif_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render(@cart) %>
          <% end %>
        <% end %>
        <ul>
          <li>
            <a href="http://depot.test/">Home</a>
          </li>
          <li>
            <a href="http://depot.test/faq">Questions</a>
          </li>
          <li>
            <a href="http://depot.test/news">News</a>
          </li>
          <li>
            <a href="http://depot.test/contact">Contact</a>
          </li>
        </ul>

        <% if session[:user_id] %>
        <ul>
          <li>
            <%= link_to 'Dashboard', admin_path %>
          </li>
          <li>
            <%= link_to 'Orders', orders_path %>
          </li>
          <li>
            <%= link_to 'Products', products_path %>
          </li>
          <li>
            <%= link_to 'Users', users_path %>
          </li>
        </ul>

        <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <% if session[:store_index_visit_counter].to_i > 5 %>
        <span class="fleft">
          You have <%= pluralize(session[:store_index_visit_counter], 'visit') %>
        </span>
      <% end %>
      <span><%= time_tag(Time.now) %></span>
    </div>
  </body>
</html>
